<!DOCTYPE html>
  <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Curriculum</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css1.css')}}">
    </head>

  <body>
    <div id = "Eltodo">
      
      <div class="cabecera">

        <h1>{{name}}</h1>
        <h2>Puesto Ocupado/Buscado</h2>
        <h3>{{fecha}}<br></h3>
        <p>{{pais}}</p>

      </div>
    </div>
    
      <div id = "costado">

      <h1>Contacto</h1>
      <ul>
        <li>{{telf}}</li>
        <li>{{email}}</li>
        <li>Mexico DF</li>
        <li>linkedin.com/jose-martinez</li>
      </ul>
      
      <h1>Idiomas</h1>

        <ul>
          <li>Español: Nativo</li>
          <li>Ingles: {{ingles}}</li>
          <li>Frances: Intermedio(B2)</li>
          <li>Otros: {{lenguajes}}</li>
        </ul>

      <h1>Aptitudes</h1>

        <ul>
          <li>Weeeeeee</li>
          <li>Proactivo</li>
          
        </ul>

      <h1>Habilidades</h1>
        <ul>
          <li>{{Dibujar}}</li>
          <li>{{Meditar}}</li>
        </ul>

      <h1>Otros intereses</h1>
        <ul>
          <li>Creador de yincanas</li>
          <li>Paseos ecologicos grupales</li>
          <li>Lectura grupal en ingles</li>
        </ul>
      
    </div>
      <div id = "medio">
        <h2>PERFIL</h2>
        <hr>
        <p>{{texto}}</p>
        <p></p>
        <h2>EXPERIENCIA LABORAL</h2>
        <h3>Trabajador Social</h3>
        <h4>Mexico DF, | 2022 - Actualmente</h4>
        
          <ul>
            <li>Coordinador y mediador entre los qeuipos de ayuda psicologica a jovenes y niños en exclusion social</li>
            <li>Velar por la salud mental del equipo y de miembros involucrados en proyectos</li>
            <li>Mapeo de necesdidades estrategicas y logicas para las diferentes areas</li>
            <li>Monitor de ejercicios fisicos para adolescentes</li>
            <li>Programar diferentes actividades extracurriculares en los involucrados</li>
          </ul>

        <h3>Trabajador Social</h3>
        <h4>Mexico DF, | 2020 - 2022</h4>
          <ul>
            <li>Funciones para seguimientos de casos para jovenes con problemas de adicciones</li>
            <li>Capacitaciones e integracion vinculadas a medidas preventivas</li>
            <li>Recopilacion de evidencias para auditorias y programas sociales</li>    
          </ul>

        <h3>Trabajador Social(Practicas)</h3>
        <h4>Zaragoza, España | 2019 - 2020</h4>
          <ul>
            <li>Profesor de lengua española e inglesa para jovenes migrantes</li>
            <li>Monitor de actividades ecologicas con adolescentes</li>
            <li>Coordinador de areas deportivas</li>    
          </ul>  
          
        <h2>FORMACION</h2>
          <hr>
            <h4>Grado de Trabajo Social</h4>
            <h3>Grado de Trabajo Social</h3>
            <h4>ESMA, Madrid | 2012 -2015</h4>
            <h3>Licenciatura Profesional</h3>
          <p>Universidad de la frontera, Mexico DF | 2011 - 2012</p>
      </div>

    </body>

</html>