<!DOCTYPE html>
	<html>
		<head>
			<title>CV</title>
			<meta charset="UTF-8">
			

		</head>
	<body>
		
		<div class = "title">
			<p>Jose Martinez</p>
		</div>
	
		<div class="Exp">
			<h2>Experiencia Laboral</h2>
				<li> 
				{{Exp}}
				</li>
			</ul>
		</div>
			
		<div class = "Form">
			<h2>Formacion</h2>
				
				<li>
				{{FOR}}
				</li>
			</div>
	

		<div class="image">
			<img src="josemartinez.png" style="width:75px;height:60px;" alt="josemartinez">
		</div>
			
		<div class = "idiomas">
			<h2>Idiomas</h2>
				<ul>
					<li>Español</li>
					<li>Hindi</li>
					<li>Ingles</li>
					<li>{{IDIOMA}}</li>

				</ul>
			</div>
			
		<div class = "aptitud">
			<h2>Aptitudes</h2>
				<ul>
					<li>
						{{APTITUDES}}
					</li>

				</ul>
			</div>
			
		<div class="habilidad">
			<h2>Habilidades</h2>
				<ul>
					<li>{{HABILIDADES}}</li>

				</ul>
			</div>
		</div>

	</body>
</html>