<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Ejemplo1</title>
        <link rel="stylesheet" href="estilos.css">
    </head>

    <body>
        <header>
            <div id = "container">
                <h1>{{name}}</h1>
                <h2>PUESTO OCUPADO / BUSCADO</h2>
            </div>
        </header>
        <section id = "contenido">
            <article class = "article">
                <h2>PERFIL</h2>
                <p>{{per}}</p>
                <p></p>
                <h2>EXPERIENCIA LABORAL</h2>
                <h3>Trabajador Social</h3>
                <h4>Mexico DF, | 2022 - Actualmente</h4>
                <ul>
                    <li>Coordinador y mediador entre los qeuipos de ayuda psicologica a jovenes y niños en exclusion social</li>
                    <li>Velar por la salud mental del equipo y de miembros involucrados en proyectos</li>
                    <li>Mapeo de necesdidades estrategicas y logicas para las diferentes areas</li>
                    <li>Monitor de ejercicios fisicos para adolescentes</li>
                    <li>Programar diferentes actividades extracurriculares en los involucrados</li>
                </ul>
                <h3>Trabajador Social</h3>
                <h4>Mexico DF, | 2020 - 2022</h4>
                <ul>
                    <li>Funciones para seguimientos de casos para jovenes con problemas de adicciones</li>
                    <li>Capacitaciones e integracion vinculadas a medidas preventivas</li>
                    <li>Recopilacion de evidencias para auditorias y programas sociales</li>
                </ul>
                <h3>Trabajador Social(Practicas)</h3>
                <h4>Zaragoza, España | 2019 - 2020</h4>
                <ul>
                    <li>Profesor de lengua española e inglesa para jovenes migrantes</li>
                    <li>Monitor de actividades ecologicas con adolescentes</li>
                    <li>Coordinador de areas deportivas</li>
                </ul>
                <h2>FORMACION</h2>
                <h3>Grado de Trabajo Social</h3>
                <h4>ESMA, Madrid | 2012 -2015</h4>
                <h3>Licenciatura Profesional</h3>
                <p>Universidad de la frontera, Mexico DF | 2011 - 2012</p>

            </article>

        </section>
        <aside>
            <h1>Contacto</h1>
            <ul>
                <li>{{tel}}</li>
                <li>{{email}}</li>
                <li>Mexico DF</li>
                <li>linkedin.com/jose-martinez</li>
            </ul>
            <p> </p>

            <h1>Idiomas</h1>
            <ul>
                <li>Español: Nativo</li>
                <li>Ingles: {{ingles}}</li>
                <li>Frances: Intermedio</li>
            </ul>
            <p> </p>

            <h1>Aptitudes</h1>
            <ul>
                <li>{{aptitudes}}</li>
                <li>Espiritu critico</li>
                <li>Trabajo en equipo</li>
                <li>Capacidad analitica</li>
                <li>Habilidades fisicas</li>
            </ul>
            <p> </p>

            <h1>Habilidades</h1>
            <ul>
                <li>{{habilidades}}</li>
                <li>Creacion videos deportivos</li>
                <li>Pack office</li>
                <li>Tenis</li>
            </ul>
            <p> </p>

            <h1>Otros intereses</h1>
            <ul>
                <li>{{Lenguajes}}</li>
                <li>Paseos ecologicos grupales</li>
                <li>Lectura grupal en ingles</li>
            </ul>
        </aside>
    </body>

</html>