<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet"  href="static/Estilomenu.css">
	</head>
   
<body>
	<div class="mimenu">
		<div name = "titulo">
			<h1>Formulario</h1>
		</div>
		
		<form name = "Formulario" class = "formulario" action = "{{ url_for('hello') }}" method = ["POST"]>
			<table>

				<tr>
					<td>
						<label for="Exp">Experiencia Laboral: </label>
					</td>
					
					<td>
						<textarea name="Exp" id="Exp"></textarea>
					</td>
				
				</tr>
				
				<tr>
					<td>
						<label for="For">Formacion: </label>
					</td>
					
					<td>
						<input type="text" id="For" name="For">
					</td>
				</tr>
				
				<tr>
					<td>
						<label for="Lang">Idioma: <label>
					</td>
					
					<td>
						<select  name="Lang" id="Lang">
							<option value="Ingles">Ingles</option>
							<option value="Español">Español</option>
							<option value="Japones">Japones</option>
							<option value="Frances">Frances</option>
							<option value="Turco">Turco</option>
							<option value="Hindi">Hindi</option>
							<option value="Ruso">Ruso</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td>
						<label for="Apt">Aptitudes: </label>
					</td>
					
					<td>
						<input type="text" name="Apt" id="Apt" placeholder="Ingrese sus aptitudes">
					</td>
				</tr>

				<tr>
					<td>
						<label for="Sk">Habilidades: </label>
					</td>
					
					<td>
						<input type="text" name="Sk" id="Sk" placeholder="Ingrese sus habilidades">
					</td>
				</tr>
				
				<tr>
					<td>
						<input type="submit" value="Aceptar" class="submit"/>
					</td>

				</tr>
			</table>
		</form>

	</div>

</body>